@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body a {
    color: black;
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

input[type="text"],
input[type="search"],
input[type="password"],
textarea,
select {
    outline: none;
}


/* clears the 'X' from Internet Explorer */

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}


/* clears the 'X' from Chrome */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 500;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 500;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 500;
}

p,
h1,
h2 {
    margin: 0px;
}

body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.App {
    padding: 0px 38px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo_menu_bar {
    display: flex;
}

.menubar {
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.logo {
    margin-left: 18px;
    font-size: 33px;
    margin-top: 5px;
}

.delevary_option {
    display: flex;
    background: #eeeeee;
    padding: 6px 5px;
    border-radius: 39px;
    margin-right: 23px;
}

.delevary_option p {
    margin-right: 20px;
    padding-top: 12px;
    font-size: 15px;
    cursor: pointer;
}

.active_delivary_system {
    background: white;
    padding: 11px 18px;
    border-radius: 25px;
    margin-left: 1px !important;
}

.place_locator {
    display: flex;
    background: #eeeeee;
    padding: 12px 18px;
    border-radius: 39px;
}

.search_bar {
    display: flex;
    background: #f6f6f6;
    padding: 0px 16px;
    box-shadow: inset 0px -1px 0px #e2e2e2;
}

.search_bar input {
    background: transparent;
    border: none;
    font-size: 17px;
}

.search_bar svg {
    margin-top: 16px;
    margin-right: 16px;
}

.cart_btn {
    display: flex;
    color: white;
    background: black;
    height: 21px;
    padding: 10px 13px;
    margin-top: 6px;
    margin-left: 24px;
    border-radius: 33px;
    font-size: 15px;
}

.cart_btn svg {
    margin-right: 12px;
}

.home_page_middle {
    display: flex;
    margin-top: 27px;
}

.filter {
    width: 24%;
    padding-right: 0%;
    position: sticky;
    top: 15px;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 10%;
}

.filter_responsive{
    display: none;
}

.filter::-webkit-scrollbar {
    width: 10px;
}

.resturents {
    width: 76%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    height: fit-content;
}

.resturent{
    margin-bottom: 30px;
}

.resturent_image {
    height: 157px;
}

.resturent_name {
    font-size: 18px;
}

.distance {
    display: flex;
}

.dis_icon {
    width: 15px;
}

.name_revue {
    display: flex;
    justify-content: space-between;
    margin: 13px 0px;
}

.revew {
    background: #eeeeee;
    font-size: 13px;
    padding: 6px;
    border-radius: 100px;
    color: rgb(6, 193, 103);
    font-weight: 700;
    height: 19px;
}

.dis {
    font-size: 13px;
    margin-top: -1px;
    margin-left: 11px;
    letter-spacing: 1px;
}

.resturent_des{
    width: 75%;
}

.shorts {
    margin-top: 31px;
}

.shorts h1 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.shorts ul li {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 17px;
}

.shorts ul li::before {
    content: "";
    display: flex;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    width: 22px;
    vertical-align: top;
    border: 3px solid rgb(175, 175, 175);
    margin-right: 15px;
}

.shorts ul li.current_sort::before {
    content: "";
    border: 8px solid black !important;
}

.price_slide {
    display: flex;
}

.price_slide div {
    margin-right: 10px;
    background-color: #eeeeee;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 70px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

.delevarymax ul {
    display: flex;
}

.delevarymax ul li {
    margin-right: 15px;
}

.delevarymax ul li::before {
    margin-right: 5px;
}

.diteary_options {
    display: flex;
    flex-wrap: wrap;
}

.dietary_option {
    font-size: 16px;
    display: flex;
    background: #eeeeee;
    margin: 6px;
    margin-right: 9px;
    margin-left: 0px;
    border-radius: 50px;
    padding: 9px 11px;
    cursor: pointer;
}

.dietary_option svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.price_range .current_delevary_price {
    background: black;
    color: white;
}

.diteary_options .current_delevary_price {
    background: black;
    color: white;
}

.diteary_options .current_delevary_price svg {
    fill: white;
}

.hidden_header {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
}

.hidden_main {
    height: 100vh;
    width: 262px;
    background: white;
    position: absolute;
    z-index: 4;
    top: 0;
    left: -100%;
    padding: 20px 26px;
}

.signup_btn {
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0px;
    font-size: 17px;
    margin-bottom: 25px;
    cursor: pointer;
}

.business_btn {
    margin-bottom: 10px;
}

.addresturent_btn {
    margin-bottom: 10px;
}

.signtodelever_btn {
    margin-bottom: 10px;
}

.billbord {
    position: absolute;
    height: 300px;
    width: 100%;
    left: 0;
}

.food_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 9%;
    row-gap: 9%;
    column-gap: 1.5%;
}

.food_Section {
    padding-top: 470px;
}

.menu_item {
    display: flex;
    height: 184px;
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.menu_item:hover {
    border: 1px solid black;
}

.menu_left {
    width: 60%;
    padding: 15px;
}

.menu_title {
    font-size: 19px;
}

.menu_description {
    color: #545454;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 9px;
}

.menu_img {
    width: 40%;
}

.del_dis {
    display: flex;
    margin-top: 7px;
}

.del_dis p {
    margin-left: 9px;
    margin-top: -3px;
}

.name_del_fee {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0) 100%);
    height: 50%;
    padding: 0px 38px;
    right: 0;
    left: 0;
}

.menu_price{
    position: absolute;
    bottom: 11px;
}

.res_name {
    font-size: 37px;
    font-weight: 800;
    margin-top: 38px;
}

.res_down {
    margin: 0 auto;
    width: 94%;
    margin-top: 21px;
}

.resturent_adress {
    margin-top: 15px;
    font-size: 15px;
}

.resturent_monre {
    margin-left: 7px;
    border-bottom: 2px solid;
    font-weight: 700;
    cursor: pointer;
}

.categiry_filter {
    display: flex;
    margin-bottom: 55px;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 25px;
}

.categiry {
    margin-right: 34px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.map_box_open_full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.map_open_date {
    display: block;
    position: fixed;
    background: white;
    width: 53%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

#res_location_map {
    height: 350px;
}

.map_close_btn {
    border: none;
    position: absolute;
    top: 13px;
    left: 13px;
    background: white;
    z-index: 2;
    border-radius: 100px;
    padding: 11px 13px;
    cursor: pointer;
}

.map-container {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    height: 100%;
}

.test_to {
    height: 400px;
}

#hide {
    display: none;
}

.signup_page {
    position: relative;
    min-height: 100vh;
    width: 50%;
    margin: 0 auto;
}

.signin_main {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px, 0px;
}

.lael {
    margin-top: 23px;
    margin-bottom: 5px;
}

.logIn_form input {
    height: 50px;
    width: 94.5%;
    margin-top: 10px;
    border: 1px solid black;
    padding: 0 15px;
}

.signup_button {
    margin-top: 20px;
    width: 100%;
    padding: 17px 0px;
    cursor: pointer;
    color: white;
    border: 0px;
    background: #3e9920;
    font-size: 15px;
    transition: .5s;
}

.signup_button:hover {
    background: #32761c;
}

.suceess_account {
    text-align: center;
}

.sucessLogin {
    display: none;
}

.sucessLogin a {
    text-align: center;
    display: block;
    color: #3e9920;
    font-weight: bold;
}

.usernameerror,
.length_error,
.digit_error,
.uppercase_error,
.lowercase_error,
.symbol_error {
    color: red;
    display: none;
}

.profile_image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.createbusinessaccount {
    height: 100vh;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.businesscreate_main {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px, 0px;
    display: flex;
}

.create_business_left {
    width: 50%;
    padding-right: 10%;
}

.create_business_left h1 {
    font-size: 47px;
    line-height: 1;
}

.create_business_left p {
    font-size: 18px;
    margin-top: 35px;
}

.create_business_left button {
    cursor: pointer;
    margin-top: 29px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    padding: 14px 22px;
}

.create_business_right {
    width: 50%;
}

.full_re_add_view {
    display: flex;
}

.add_res_left {
    width: 30%;
}

.add_res_right {
    width: 70%;
}

.res_add_form {
    width: 85%;
}

.res_add_form input {
    width: 94%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.res_add_form textarea {
    width: 95%;
    height: 100px;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.res_add_button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    color: white;
    background: black;
    border: none;
    font-size: 15px;
}

.res_add_button:disabled {
    background: #dddddd;
}

.food_Section_additem{
    padding-top: 0px;
}

.food_items_additem{
    grid-template-columns: 1fr 1fr;
}

.categiry_filter_add_item{
    margin-bottom: 22px;
}

.current_city{
    display: flex;
    cursor: pointer;
}

.delever_now{
    color: #5e5e5e;
}

.current_city svg{
    margin-top: 1px;
    margin-left: 5px;
}

.current_city_p{
    font-weight: bold;
}

.res_header_down{
    display: flex;
    justify-content: space-between;
}

#delevary_options_{
    font-size: 15px;
    padding: 13px 18px;
    border-radius: 50px;
    background: #eeeeee;
    border: 0;
}

.res_search{
    margin-top: 20px;
}

.res_search .search_bar{
    height: 54px;
}

.res_search .search_bar input{
    width: 93%;
}

.header_response_div{
    display: none;
}


.loading_img{
    width: 120px;
    margin: 0 auto;
    display: block;
}

.login_loading{
    display: none;
}

.res-loders{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    height: 560px;
    padding-left: 27px;
}

.res-load{
    width: 100%;
    cursor: progress;
}

.loader-img{
    width: 100%;
    background: #d9d9d9;
    height: 150px;
    border-radius: 4px;
}

.loader-title{
    width: 100%;
    background: #d9d9d9;
    height: 40px;
    margin-top: 13px;
    border-radius: 4px;
}

.loader-dis{
    width: 20%;
    background: #d9d9d9;
    height: 30px;
    margin-top: 13px;
    border-radius: 4px;
}

.res_img{
    width: 100%;
    height: 300px;
    background: #e3e3e3;
    border-radius: 5px;
    cursor: progress;
}

.res_des{
    width: 50%;
    height: 49px;
    background: #e3e3e3;
    margin-top: 15px;
    border-radius: 5px;
    cursor: progress;
}

.res_cat{
    width: 25%;
    height: 49px;
    background: #e3e3e3;
    margin-top: 15px;
    border-radius: 5px;
    cursor: progress;
}

.no_res{
    width: 100%;
    padding: 21px 0px;
}

.no_res img{
    width: 232px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.no_res h1{
    text-align: center;
    margin-top: 22px;
}

.no_res p{
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    color: #646464;
}

.no_res a{
    display: block;
    text-align: center;
    background: black;
    width: 245px;
    margin: 0 auto;
    color: white;
    padding: 14px 0px;
    border-radius: 4px;
    margin-top: 20px;
}

.food_modal{
    display: none;
    position: fixed;
    width: 600px;
    background: white;
    top: 51%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow-y: scroll;
    height: 98vh;
    z-index: 20;
}

.modal_background{
    display: none;
    opacity: 0.6;
    position: fixed;
    background: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 12;
}

.modal_image{
    height: 300px;
}

.foodModal_des{
    background: white;
    padding: 18px 20px;
    padding-bottom: 90px;
}

.food_modal_title{
    font-size: 25px;
    font-weight: bold;
}

.food_modal_des{
    color: #626262;
    margin-top: 9px;
}

.custom_forms{
    margin-top: 20px;
}


.create_type{
    display: block;
    background: black;
    color: white;
    border: 0;
    padding: 10px 13px;
    border-radius: 3px; 
    margin-top: 25px; 
    cursor: pointer;  
}

.create_round{
    display: block;
    background: black;
    color: white;
    padding: 6px 7px;
    border-radius: 100px;
    border: 0px;
    cursor: pointer;
    position: relative;
    left: 89.5%;
}

.adextransp{
    width: fit-content;
    position: relative;
    left: 85%;
    top: 18px;
}

.main_type{
    width: 96%;
    height: 31px;
    padding: 10px;
    font-size: 17px;
    margin-top: 17px;
}

.add_btn{
    margin-top: 6px;
    background: black;
    color: white;
    border: 0;
    padding: 7px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.main_sub_type{
    width: 82%;
    height: 30px;
    margin-top: 7px;
    margin-right: 4px;
    padding-left: 10px;
}

.main_sub_price{
    width: 10%;
    height: 30px;
    padding-left: 10px;
    margin-top: 7px;
}

.extras{
    display: grid;
    grid-template-columns: 1fr 1fr;
}